<div class="bookmark-list" *ngIf="bookmarks?.length > 0">

    <div *ngFor="let bookmark of currentPageBookmarksObject" class="bookmark-item">
        <div class="url">
            <ng-container *ngIf="bookmark.isEditing; else urlDisplay">
                <app-url-form [url]="bookmark.url"></app-url-form>
            </ng-container>
            <ng-template #urlDisplay>{{bookmark.url}}</ng-template>

        </div>
        <div class="buttons">
            <div class="edit">
                <button (click)="bookmark.isEditing = !bookmark.isEditing">
                    <ng-container *ngIf="bookmark.isEditing; else editing">Cancel</ng-container>
                    <ng-template #editing>Edit</ng-template>
                </button>
            </div>
            <div class="delete">
                <button (click)="deleteBookmark(bookmark.url)">Delete</button>
            </div>
        </div>        

    </div>
</div>
<div class="pagination-container">
    <div *ngFor="let page of pages">
        <button [disabled]="page === currentPage"
            class="pagination-buttons"
            [ngClass]="{'selected': page === currentPage}"
            (click)="setCurrentPage(page)">{{page + 1}}
        </button>
    </div>
</div>
